*{
    user-select: none;
}
.navbar{
    background-color: #094BA0 !important;
    color: white !important;
    position: fixed !important;
    width: 100vw !important;
    z-index: 1 !important;
}
.navbar-brand{
    font-weight: 700;
    font-size: 30px !important;
    color: white !important;
}
.navbar-brand span{
    font-weight: 500;    
} 
.bi-box-arrow-in-right{
    font-size: 20px;
    font-weight: 800;
    color: white; 
}
.logo{
    height: 60px;
}

.bi-people-fill, .bi-arrow-left{
    color: white;
    font-size: 30px;
}


.background-img{
    background-image: url('../images/button_background.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh !important;
    width: 100vw !important;
    display: flex !important;
    justify-content: center !important; /* Centers horizontally */
    align-items: center !important;
}

#goFull{
    z-index: 10;
    height: 250px;
    width: 250px;
    background-color:white;
    border-radius: 50% !important;
    border: none !important;
    display: block;
} 

@media screen and (max-width : 767px) {
    .harinaam{
        margin-bottom: -130px !important;
    }
}

/* .counting{
  
} */

.malacount{
    background-color: #094BA0;
    height: 50px;
    width: 100vw;
    bottom: 0;
    position: absolute;
}
.malacount h2{
    position: absolute;
    color: white;
    display: inline !important;
    margin-top: 7px;
}
.first{
    margin-left: 20px;
}
.sec{
    position: absolute;
    right: 0;
    margin-right: 60px;
}

.modal-body{
    text-align: center;
    align-content: center;
    justify-content: center;
}


/* .modal-form{
    width: 300px;
    display: block;
    position: absolute;
    border: 2px solid black;
    background-color: rgb(153, 153, 214);
    z-index: 5;
} */
.modal{
    margin-top: 80px !important;
}
.modal-dialog, .modal-header, .modal-footer, .modal-body{
    width: auto !important;
    background-color: antiquewhite;
    border-radius: 10px !important;
    padding: 30px;
 }

form{
    text-align: start !important;

    /* justify-content: left; */
}

form input{
    /* display: block !important; */
    /* display: flex; */
    justify-content: center;
    margin: auto;
    width: 100% !important;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
}
input::file-selector-button{
    background-color: transparent;
    border: none;
    visibility: hidden;
}
input::-webkit-file-upload-button{
    text-align: center;
}

form label{
    color: black;
    display: inline !important;
    font-weight: 800;
}
.modal-title{
    text-align: center !important;
}

#save{
   width: 140px;
    /* background-color: #02142b !important; */
    background: transparent;
    border: none;
}
#save img{
    height: 90px;
    width: 30px;
    margin-top: -20px;
    transform: rotate(80deg);
}
center{
    height: 50px;
}



/* ----------------------------- */



.loader-circle-24 {
    z-index: 5 !important;
    width: 350px;
    height: 350px;
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    vertical-align: top;
}
.loader-circle-24:before {
    border-radius: 50%;
    border-top: 5px solid #1f69ca;
    content: " ";
    display: block;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    animation: loader-circle-24_rotation 1s linear infinite;
}
.loader-circle-24:after {
    border-radius: 50%;
    border-bottom: 5px solid #5c4783;
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    animation: loader-circle-24_rotation-reverse 1s linear infinite;
    position: absolute;
    top: 0;
}
@keyframes loader-circle-24_rotation-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes loader-circle-24_rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.modald{
    width: auto;
    display: flex;
    margin: 15px;
    margin-top: 16vh;
}

@media screen and (min-width: 1250px) {
    .modald{
        width: auto;
        display: flex;
        margin: 15px;
        margin-top: 16vh;
        margin-left: 40% !important;
    }
}

.users{
    border: 1px solid black;
    background-color: rgb(216, 183, 183);
    height: 85vh;
    width: 50vw;
    border-radius: 20px;
    margin-left: 10px;
}

.users{
        position: absolute !important;
        border: none;
        /* border: 1px solid black; */
        z-index: 15;
        /* background-color: rgb(70, 39, 67); */
        height: 85vh;
        width: 50vw;
        border-radius: 20px;
        margin-right: 10px !important;
        margin-top: 55px !important;
        right: 0 !important;
        padding: 30px;
        background-color: transparent;
        overflow-y: scroll;
}
    
@media screen and (max-width: 1000px) {
    .users{
        position: absolute !important;
        z-index: 15;
        height: 85vh;
        width: 95vw;
        border-radius: 20px;
        margin-left: 20px;
        margin-top: 60px !important;
        padding: 10px;
        background-color: transparent;
        overflow-y: scroll;
        margin-bottom: -10px;
    }

    .users .user{
        border: 1px solid rgb(80, 66, 66);
        height: 50px;
        border-radius: 10px;
        width: 100%;
        background-color: rgb(202, 205, 228);
        margin-bottom: 20px;
    }

    .rank1{
        height: 60px;
        width: 60px;
        margin-top: -10px;
        margin-right: 75px !important;
        position: absolute;
        right: 0 !important;
    }
    .rank2{
        height: 60px;
        width: 60px;
        margin-top: -10px;
        margin-right: 75px !important;
        position: absolute;
        right: 0 !important;
    }
    .rank3{
        height: 60px;
        width: 60px;
        margin-top: -10px;
        margin-right: 75px !important;
        position: absolute;
        right: 0 !important;
    }


}



@media screen and (max-width: 1000px) {
    .user h2{
        position: absolute;
        display: inline;
        margin-left: 20px;
        margin-top: 10px !important;
        /* margin-top: -10px !important; */
    }

}

.users::-webkit-scrollbar{
    width: 0px;
}

.users .user{
    border: 1px solid rgb(80, 66, 66);
    height: 50px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(202, 205, 228);
    margin-bottom: 20px;
}

#pro_img{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 4px;
    margin-left: 10px;
}

.user h2{
    position: absolute;
    display: inline;
    margin-left: 20px;
    margin-top: 5px;
    color: black;
}

.rank1{
    height: 60px;
    width: 60px;
    margin-top: -10px;
    margin-right: 90px;
    position: absolute;
    right: 0 !important;
}
.rank2{
    height: 60px;
    width: 60px;
    margin-top: -10px;
    margin-right: 90px;
    position: absolute;
    right: 0 !important;
}
.rank3{
    height: 60px;
    width: 60px;
    margin-top: -10px;
    margin-right: 90px;
    position: absolute;
    right: 0 !important;
}

.sign_btn{
    text-align: center;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    color: black;  
}
.sign_btn span{
    text-decoration: underline;
    color: #0068f0;
    cursor: pointer;
}
.signup{
    display: none;
}